@charset "UTF-8";

.m-paramContainer .u-buy,.m-pinInfo .u-buy {
    font-size: .37333rem;
    height: 1.28rem;
    line-height: 1.28rem
}

.m-paramContainer .m-table .td,.m-pinInfo .m-table .td {
    vertical-align: bottom
}

html {
    background: #f3f3f3;
    height: 100%
}

body {
    min-height: 100%
}

.p-pinHdOpen {
    padding-bottom: 1.36rem;
    width: 100%;
    margin: 0 auto
}