@charset "utf-8";
/* CSS Document background-color:#f0f2f3*/
body {color:#333; background-color:#fff; font-size:16px; font-family:PingFang SC,"Microsoft Yahei",微软雅黑,"\5FAE\8F6F\96C5\9ED1", Arial; }
.all {width:980px; overflow:hidden; background-color:#FFF; margin:0 auto; padding:12px;}
ul,li {list-style-type:none; text-transform:capitalize;}

a {color:#666;text-decoration:none;}
a:link {text-decoration: none;}
a:visited {color: #666;text-decoration: none;}
a:hover {color: #f08300;text-decoration: none;}
a:active {color: #f08300;text-decoration: none;}

/** 公共样式 **/
html{min-width:1240px;}

.box_1112_0 {width:1112px; margin:0 auto; }
.box_1112{width:1112px; margin:0 auto; }
.box_1124{width:1124px; margin:0 auto; overflow:hidden;}
.box_840{width:840px; margin:0 auto;}
.se_FFF {background-color:#FFF; width:100%; height:88px; position:absolute; top:0px; z-index:1 }
.bian {border:1px solid #bbb;}
.DEL {display:none !important;}

/** 导航栏 **/
.top {height:88px; position:relative; z-index:9;}
.nav {float:right; height:88px; line-height:88px; padding:0 20px; z-index:1;}
.nav a{ color:#555;  }
.nav .nLi{ float:left;  position:relative; display:inline;  }
.nav .nLi h3{ float:left; line-height: 88px; }
.nav .nLi h3 i {padding:0 5px; height:80px; margin-left:8px; background:url(../image/pc/arrow.png) center right no-repeat; background-size:9px;}
.nav .nLi h3 a{ display:block; padding:0 32px; font-size:20px;}
.nav .sub{display:none; width:100%; left:0; top:88px;  position:absolute; font-size: 14px;
	list-style: outside none none; min-width: 160px; text-align: center; z-index: 100;
	background-clip: padding-box; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);  }
.nav .sub li{ zoom:1; margin:10px 0;}
.nav .sub a{ display:block; background-color:#FFF; height:40px; line-height:40px;  border-bottom:0px solid #ededed;}
.nav .sub a:hover{color:#f08300; background-color:#F5F5F5;}
.nav .on h3 a{ color:#f08300;}
.logo {float:left; width:142px; margin-top:15px; z-index:9;}
.logo img{ width:82%;}
.stock {float:left; width:102px; margin:23px 0 0 8px; z-index:9;}
.stock span{ border-left:1px solid #000000;height:100%; padding-left:20px;}
.stock img{width:100%;}
.uk-offcanvas{display:none;}
.toggle {display:none;}


/** 内容 **/
.shadow {text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);}
.container_00 {height:690px;}
.container_01 {height:600px; background:url(../image/pc/illust_01.png) center bottom;}
.container_02 {height:800px; background:url(../image/pc/bg_02.jpg) center;}
.container_03 {height:600px; background:url(../image/pc/bg_03.jpg) center bottom;}
.container_04 {height:300px; background:#FFF;}
.container_045 {height:450px;background:#FFF;}
.container_05 {height:600px; background:url(../image/pc/bg_05.jpg) center bottom;}

.il3im { width:590px; text-align:center; margin:60px auto 0; position:relative;}
.il3im img {width:100%;}

.il3im .jt_1 {position:absolute; left:0; top:0; z-index:10}


.dongh_1 {position:absolute; top:444px; left:50%; margin-left:-480px;}
.dongh_2 {position:absolute; top:409px; left:50%; margin-left:-244px;}
.dongh_3 {position:absolute; top:423px; left:50%; margin-left:-92px;}
.dongh_4 {position:absolute; top:392px; left:50%; margin-left:64px;}
.dongh_5 {position:absolute; top:319px; left:50%; margin-left:165px;}
.dongh_6 {position:absolute; top:426px; left:50%; margin-left:414px;}

.txt_01 { font-size:25px; text-align:center; color:#666; padding-top: 64px; display:block;}
.txt_02 { font-size:14px; text-align:left; color:#999; padding-top: 34px; display:block; line-height:24px;}
.txt_022 { display:none}

.txt_03 { font-size:14px; text-align:center; color:#666; margin:30px auto 0; display:block; width:130px; height:28px; line-height:28px; border:1px solid #666;
          -moz-border-radius:30px;
		  -webkit-border-radius:30px;
		  -khtml-border-radius:30px;
		  border-radius:30px;
}
.txt_04 { font-size:30px; text-align: left; color:#999; padding-top:170px; display:block; line-height:48px;}
.txt_044 { display:none;}
.txt_05 { font-size:14px; text-align:center; color:#666; display:block; width:130px; height:28px; line-height:28px; margin:40px 0px 0; border:1px solid #666;
          -moz-border-radius:30px;
		  -webkit-border-radius:30px;
		  -khtml-border-radius:30px;
		  border-radius:30px;
}
.txt_03 a,.txt_05 a{color:#666;}
.txt_03:hover,.txt_05:hover{background-color:#e50020; border:1px solid #e50020;color:#FFFFFF;}


.diagram {width:1144px; height:452px; margin-top:50px; background:url(../image/pc/illust_02.png) no-repeat center; position:relative;}
.diagram a{width:170px; height:170px; display:block; position:absolute;  z-index:10;}
.diagram .women {left:-5px; top:-4px;}
.diagram .women .route {position:absolute; left:-78px; top:-39px;  z-index:5; display:block;}

.diagram .students {left:472px; top:286px;}
.diagram .students .route {position:absolute; left:-315px; bottom:-65px; z-index:5; display:none;}

.diagram .business {right:-4px; top: 54px;}
.diagram .business .route {position:absolute; right:-81px; top:-75px; z-index:5;display:none;}

/** bottom **/
.bottom{width:100%; height:215px; background-color:#222; }
.bottom .addres {float:left;  padding-top:55px; font-size:14px; line-height:30px; color:#f4f4f4}

.bottom .about{float:left; width:190px; padding-top:114px; font-size:14px; line-height:30px;}
.bottom .about a{color:#f4f4f4; display:block;}
.bottom .about span{color:#f4f4f4; display:block;}
.bottom .Qrcode {text-align:center; color:#FFF; font-size:14px; line-height:30px; position:absolute; top:64px; right:490px; z-index:10}
.bottom .Qrcode img{width:80px;}

.copyright {width:100%; height:85px; line-height:80px; background-color:#111; font-size:12px; color:#999;}

.bottom_right_box { width:215px; height:300px;text-align:center; position:absolute;}
.bottom_right_box p{ margin-top:52px;}
.bottom_right_box img{ margin-top:62px; height:103px;}
.bottom_right_box a{ margin-top:62px; height:103px;}

.bottom_Contact_us {right:215px; top:0px; color:#fff;  background-color:#e0130e; }
.bottom_Contact_us a{color:#fff;}
.bottom_Contact_us:hover{color:#fff;  background-color:#e22521; }


.bottom_return {right:0px; top:0px; color:#333;  background-color:#666;}
.bottom_return a{color:#333;}
.bottom_return:hover{color:#333; background-color:#707070;}


/** 新闻 **/
.top_img {
	background: #091208 url(http://qiniu.jiajialink.com/membership-join-us.jpg) no-repeat top right;    height: 390px;}
.top_img p {text-align:center; color:#FFF; font-size:36px; line-height:38px; padding-top:130px;}

.center_bian {background-color: #fff;   border: 1px solid #ddd; border-radius: 1px; box-shadow: 0 1px 1px #ececec; overflow: hidden;
          -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px;  border-radius:3px;}
.new_li {width:100%; overflow:hidden; position:relative; padding:30px; margin-top:30px; margin-bottom:30px;}
.new_li .gzu {background:url(../image/pc/ico2.png) no-repeat no-repeat; position: absolute;  right:34px; top:32px; padding:10px;  background-size:17px;}
.new_li .kuyr {float:left;}
.new_li .kuyr img{width:200px; height:128px;}
/*.new_li .ztw {float:left; width:72%; margin-left:4%;}*/
.new_li .ztw a{color:#666;}
.new_li .ztw .tit{color:#333; font-size:24px; line-height:24px; }
.new_li .ztw p {
	line-height: 22px;
	color: #666;
	font-size: 14px;
	padding-top: 12px;
	overflow: hidden;
	text-align: left;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}
.new_li .xqn {line-height:26px; font-size:12px;}
.new_li .xqn span{ margin-right:10px;color:#999;}
.new_li .xqn em a{ margin-right:10px;color:#999;}
.new_li .xqn i a {float:right;color:#f08300;}

/**详情页**/
.article {width:100%; overflow:hidden; position:relative; padding:30px 110px 32px; margin-top:30px; margin-bottom:30px;}

.article .crumb {width:100%; color:#666; font-size:16px; line-height:16px;}
.article .crumb a{color:#666;}
.article img{width:776px; margin-top:4px;}
.article p{color:#666; font-size:14px; margin-top:26px;}
.article li{font-size:14px;color:#666; padding-left:25px; line-height:24px;}
.article .on{color:#f08300}

.article .title {color:#333; font-size:24px; line-height:24px;  margin-top:30px;}
.article .xqn {line-height:26px; font-size:14px; margin-top:18px;}
.article .xqn span{ margin-right:10px;color:#999;}
.article .xqn em a{ margin-right:10px;color:#999;}

/** 联系 **/
.address {float:left; width:430px; padding-bottom:40px;}
.address p{border-top:1px solid #dcdcdc; margin-top:30px; }
.address em{margin-top:30px; font-size:36px; line-height:36px; color:#333;display:block;}
.address span{margin-top:30px; font-size:16px; line-height:30px; color:#666;display:block;}
.address span i{color:#999;}
.address .on em{color:#f08300;}

.map {float:right; width:600px; height:480px; margin-top:30px; padding-bottom:40px;}

.map_t_list {overflow:hidden}
.map_t_list .tato_01 {font-size:36px; line-height:300px; text-align:center; margin:60px auto 114px; }
.map_t_list .lst_1 {width:35%;}
.map_t_list .lst_2 {width:29%;}
.map_t_list dl {float:left;}
.map_t_list dt {width:100%; font-size:24px; overflow:hidden; text-indent:40px;  line-height:30px;  margin-top:13px;}
.map_t_list dd {width:100%; font-size:14px; overflow:hidden;  line-height:30px;}
.map_t_list dd em {float:left; width:11%; display: inline-block;}
.map_t_list dd span {float:left; width:89%; display: inline-block; margin-left:0px;}

.map_t_list2 {overflow:hidden; color:#fff;}
.map_t_list2 .tato_02 {font-size:34px; line-height:36px; text-align:center; margin:60px auto 88px; }
.map_t_list2 .lst_1 {width:37%;}
.map_t_list2 .lst_2 {width:37%;}
.map_t_list2 .lst_3 {width:26%;}
.map_t_list2 dl {float:left;}
.map_t_list2 dt {width:100%; font-size:24px; overflow:hidden; text-indent:40px;  line-height:28px;  margin-top:25px;}
.map_t_list2 dd {width:100%; font-size:14px; overflow:hidden;}
.map_t_list2 dd i { font-size:24px; display:block; line-height:24px;   margin-top:16px; margin-bottom:4px;}
.map_t_list2 dd span {float:left; width:93%; display: inline-block; line-height:24px;   margin-top:21px;}
.map_t_list2 dd em {float:left; width:11%; display: inline-block;}

/** 加入我们 **/
.top_Join  {height:300px; background: #e43b28 url(../image/pc/bg_01.jpg) no-repeat top center;}
.top_Join  p {text-align: left; color:#FFF; font-size:32px; line-height:48px; padding-top:110px; margin-left:72px;}

.theme {text-align:center; font-size:36px; line-height:36px; color:#f08300;}

/*  滑动门 */
.sideMenu{ display:none}

.slideTxtBox{ width:100%; margin-top:55px;}
.slideTxtBox .hd{ height:64px; line-height:64px; background:#FFF; padding:0;   border:1px solid #e2e4e5;  position:relative;
          -moz-border-radius:8px;
		  -webkit-border-radius:8px;
		  -khtml-border-radius:8px;
		  border-radius:8px;
		  box-shadow:1px 1px 0 0 #ebedee;
}
.slideTxtBox .hd ul{ float:left;  position:absolute; top:-1px; height:32px;  color:#666;  }
.slideTxtBox .hd ul li{ float:left; padding:0 116px; cursor:pointer; color:#666; }
.slideTxtBox .hd ul i{ float:left; cursor:pointer;  }
.slideTxtBox .hd ul li.on{ height:30px; color:#f08300; }

.slideTxtBox .bd ul{ padding:0 10px;  zoom:1;  }
.slideTxtBox .bd li{ line-height:24px;}

.Join_content .tits{width:100%; font-size:16px; padding-bottom:15px; color:#f08300; border-bottom:1px solid #dcdcdc;  margin-top:30px;}
.Join_content dl{width:100%; font-size:16px; padding-bottom:15px; color:#f08300;
	border-bottom:1px solid #dcdcdc;
	overflow:hidden; }
.Join_content dt{ line-height:46px; color:#333; font-size:16px;}
.Join_content dd{ line-height:30px; color:#666; font-size:16px;}

.Join_content .po {margin-top:15px; padding-top:0px; line-height:30px; color:#666; font-size:16px;}
.Join_content .po a{ color:#f08300; padding-left:8px;}


.fenxiang {width: 780px; margin-bottom: 30px;    margin-top: 30px;    overflow: hidden;    padding: 0 110px 32px;    position: relative;    }

/*.icon {*/
    /*background: rgba(0, 0, 0, 0) url(http://xiaoyun.smartwell.cn/static/xiaoyun/images/icon_04.png) no-repeat scroll 0 0 / 85px auto !important;*/
/*}*/
.xyi-wechat2, .xyi-qq2, .xyi-weibo2 { display: inline-block;  height: 36px !important;  line-height: 10em;    overflow: hidden;    text-indent: -9999px;    width: 38px !important;  padding-left:0px  !important;}

.xyi-wechat2 {background-position: -50px 1px !important;}
.xyi-wechat2:hover { background-position: 0 0 !important;}
.xyi-qq2 {background-position: -50px -39px !important;}
.xyi-qq2:hover { background-position: 0 -38px !important;}
.xyi-weibo2 { background-position: -50px -77px !important;}
.xyi-weibo2:hover {background-position: 0 -77px !important;}
.dingw {  float: right;}

#bdshare-button .btn-share { float: right; height: 40px;   line-height: 40px;}
#bdshare-button a {float: right;}

#settings {Z-INDEX: 19; position: fixed; top:10px; left:5px; TEXT-INDENT: -99999px; }
#opciones { display:none; }


@media only screen and (max-width: 640px) {
html,body{min-width:100%; height:100%}

.box_1112_0 {width:91%; margin:0 auto; }
.box_1112{width:100%; margin:0 auto; }
.box_1124{width:100%; margin:0 auto; overflow:hidden;}
.box_840{width:100%; margin:0 auto;}
.se_FFF { background-color:#FFF;width:100%; height:62px; position:fixed; top:0px; opacity:0.9; z-index:1;}

/** 头 **/
.top {height:62px;position: fixed; z-index:9;}

.navi { display:none;}
.nav {float:right; height:62px; display:none; line-height:88px; padding:0 20px; }
.nav a{ color:#555;  }

.logo {width:142px; position:absolute; top:0px; left:50%;margin-top:10px; margin-left:-40px;  }
.logo img{ width: 80px;  margin-top: 0px;}
.stock {display:none;}
.toggle {float:right; margin-top:18px; margin-right:20px; display:block;}
.toggle img{ width:24px;}


/** 导航栏 动效 **/

.uk-offcanvas{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1000;touch-action:none;background:rgba(0,0,0,.1)}
.uk-offcanvas.uk-active{display:block}
.uk-offcanvas-page{position:fixed;-webkit-transition:margin-left .3s ease-in-out;transition:margin-left .3s ease-in-out}
.uk-offcanvas.uk-active .uk-offcanvas-bar.uk-offcanvas-bar-show{-webkit-transform:translateX(0);transform:translateX(0)}

.uk-offcanvas-bar{position:fixed;top:0;bottom:0;left:0;-webkit-transform:translateX(-100%);transform:translateX(-100%);z-index:1001;width:270px;max-width:100%;background:#333;overflow-y:auto;-webkit-overflow-scrolling:touch;-webkit-transition:-webkit-transform .3s ease-in-out;transition:transform .3s ease-in-out;-ms-scroll-chaining:none}

.uk-nav li>a{display:block;text-decoration:none;text-indent:20px;}
.uk-nav .orp { padding-left:40px;}
.uk-nav-offcanvas>li>a{color:#ccc;padding:10px 15px;border-top:1px solid rgba(0,0,0,.3);box-shadow:inset 0 1px 0 rgba(255,255,255,.05);text-shadow:0 1px 0 rgba(0,0,0,.5)}
.hov{ background-color:#404040 !important;}


/** 幻灯 **/
.hero-gallery__cell {width: 100%; height:340px; color: #174a79; padding: 0px 60px;}
.slogan--tagline{
	color: #174a79; font-weight: bold;
}
.hero-gallery__cell--1 {background: url(../image/pc/topbg_01.jpg) top right no-repeat ; margin-top:60px; background-size: auto 100%; }
.content-wrap { max-width:100%;  margin: 0 auto;  padding: 0 10px;  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);  text-align:center;}

.map__cell {width:100%; height: auto; color: white; padding: 0px 0px; overflow:hidden}
.map__cell--1 {
	padding-bottom:40px; background: url(../image/pc/Eventbanner.jpg) top center no-repeat;
	background-size: auto 100%;
	height: 160px;
	margin-top: 60px;
	line-height: 36px;
}

.txt_01 { font-size:0.3rem; text-align:center; color:#666; padding-top:24px; display:block;}
.txt_02 { display:none}
.txt_03 { font-size:16px; text-align:center; color:#666; margin:18px auto 0; display:block; width:110px; height:32px; line-height:32px; border:1px solid #666;
          -moz-border-radius:30px;
		  -webkit-border-radius:30px;
		  -khtml-border-radius:30px;
		  border-radius:30px;
}
.txt_022 {width:93%; margin:0 auto; font-size:0.22rem; text-align:left; color:#999; padding-top:14px; display:block; line-height:21px;}
.txt_04 { display:none;}
.txt_044 { font-size:16px; text-align:center; color:#999; padding-top:58px; display:block; line-height:24px;}
.txt_05 { font-size:16px; text-align:center; color:#666; margin:30px auto 0; display:block; width:110px; height:32px; line-height:32px; border:1px solid #666;
          -moz-border-radius:30px;
		  -webkit-border-radius:30px;
		  -khtml-border-radius:30px;
		  border-radius:30px;
}
	.flickity-viewport{
		height: 400px;
	}
	.section-hezi3s h2.title {

		font-size: 28px !important;
	}
.container_00 {height:410px;}
.container_01 {height:300px; background:url(../image/pc/illust_01.png) center bottom no-repeat; background-size:auto 65%}
.container_02 {height:auto;  background:url(../image/pc/bg_02.jpg) center; background-size: auto 100% }
.container_03 {height:420px; background: #FFF url(../image/pc/bg_03.jpg) 65% 185px no-repeat; background-size: auto 56% }
.container_04 {height: auto; background:#FFF; padding-bottom:30px;}
.h600{
	height: 1350px !important;
}
	.dynamicBg{
		background: url(http://qiniu.jiajialink.com/banner.jpg) no-repeat;
		height: 160px !important;
		background-size: auto 160px;
		margin-top: 60px;
		width: 100%;
		background-position: center;
	}
	.container_045 {height: auto; background:#FFF; padding-bottom:30px;}
.container_05 {height: auto;  background:url(../image/pc/bg_05_m.jpg) center bottom; padding-bottom:30px; background-size:auto 100%;}

.il3im  {width:74%; margin:20px auto 0;}
.il3im .jt_1 {position:absolute; left:0; top:0; z-index:10}
.map_t_list {}


.xinhao span {width:15px;}
.xinhao span img {width:100%;}
.dongh_1 {position:absolute; top:344px; left:50%; margin-left:-218px;}
.dongh_2 {position:absolute; top:330px; left:50%; margin-left:-111px;}
.dongh_3 {position:absolute; top:336px; left:50%; margin-left:-44px;}
.dongh_4 {position:absolute; top:320px; left:50%; margin-left:38px;}
.dongh_5 {position:absolute; top:290px; left:50%; margin-left:75px;}
.dongh_6 {position:absolute; top:337px; left:50%; margin-left:189px;}


.diagram {width:100%; height:140px; margin-top:15px; background:url(../image/pc/illust_02.png) no-repeat  32px 12px; position:relative; margin:0 auto; background-size:260px  auto;}
.diagram a{width:50px; height:50px; display:block; position:absolute;  z-index:10;}
.diagram .women {left:25px; top:5px;}
.diagram .women .route {position:absolute; left:-12px; top:-4px;  z-index:5; display:block; width:240px; }

.diagram .students {left:135px; top:74px;}
.diagram .students .route {position:absolute; left:-86px; bottom:-6px; z-index:5; display:none; width:230px; }

.diagram .business {left:249px; top:18px;}
.diagram .business .route {position:absolute; left:-192px; top:-12px; z-index:5;display:none; width:256px; }

/** bottom **/
.bottom{width:100%; height:100px; background-color:#222; }
.copyright {width:100%; height:auto; line-height:20px; background-color:#111; font-size:12px; padding-top:10px;  color:#666; overflow:hidden; padding-bottom:15px;}
.copyright em{ display:block; text-align:center;  color:#666; font-size:0.21rem}

.bottom_right_box { width:215px; height:100px;text-align:center; position: static;}
.bottom_right_box p{ margin-top:0px;}
.bottom_right_box .img{background:url(../image/pc/bottom_Contact_us.png) center -22px no-repeat; height:58px; background-size:80px auto;}
.bottom_right_box img{ display:none;}
.bottom_right_box a{ margin-top:62px; height:40px;}

.bottom_return { display:none;}
.bottom_return a{color:#333;}
.bottom_return:hover{color:#333; background-color:#707070;}

.bottom_Contact_us { width:100%; color:#fff;  background-color:#e0130e; }
.bottom_Contact_us a{color:#fff;}
.bottom_Contact_us:hover{color:#fff;  background-color:#e22521; }


.bottom .addres {float:left; width:100%;   padding-top:25px; font-size:11px; line-height:17px; color:#999}
.bottom .addres span{float:left; width:40%; margin-left:4%; padding:0 0 0 25px; background: url(../image/pc/ico_01.png) 0px 2px no-repeat; background-size: auto 18px; font-size:0.21rem;}
.bottom .addres em{float:right; width:32%; margin-right:2%; padding:0 0 0 25px;  background: url(../image/pc/ico_02.png) 0px 3px no-repeat; background-size: auto 16px; font-size:0.21rem;}

.bottom .Qrcode {display:none;}

/** 新闻 **/
.top_img {height:160px; background: #09121d url(http://qiniu.jiajialink.com/membership-join-us.jpg) no-repeat bottom center; margin-top:60px;  background-size: auto 100%;}
.top_img p {text-align:center; color:#FFF; font-size:36px; line-height:38px; padding-top:40px; display:none;}
.new_li {width:85%; overflow:hidden; position:relative; padding:10px; margin:20px auto;}
.new_li .gzu { display:none;}
.new_li .kuyr {float:left; width:100%;}
.new_li .kuyr img{ width:100%; height:auto}
.new_li .ztw {float:left; width:90%; margin-left:5%;}
.new_li .ztw .tit{color:#333; font-size:16px; line-height:22px; margin-top:10px;}

/**详情页**/
.article {width:85%; overflow:hidden; position:relative; padding:10px; margin:30px auto;}
.article .crumb { display:none;}
.article .crumb a{color:#666;}
.article img{width:100%; margin-top:4px;}
.article p{color:#666; font-size:14px; margin-top:6px; text-align: justify !important;    display:block}
.article li{font-size:14px;color:#666; padding-left:25px; line-height:24px;}
.article .on{color:#f08300}

.article .title {color:#333; font-size:16px; line-height:22px;  margin-top:10px;}
.article .xqn {line-height:26px; font-size:14px; margin-top:0px;}
.article .xqn span{ margin-right:10px;color:#999;}
.article .xqn em a{ margin-right:10px;color:#999;}

.fenxiang {width: 72%;  margin-top:20px; overflow: hidden;    padding: 0;    position: relative;}


/** 联系 **/
.address {float: none; width:88%; padding-bottom:40px; margin:0 auto;}
.address p{border-top:0px solid #dcdcdc; margin-top:20px; }
.address em{margin-top:20px; font-size:24px; line-height:36px; color:#333;display:block;}
.address span{margin-top:10px; font-size:0.22rem; line-height:20px; color:#666;display:block;}
.address span i{color:#999;}
.address .on em{color:#f08300;}
.map {float: none; width:90%; height: 150px; margin:0px auto 25px;}

.map_t_list {overflow:hidden}
.map_t_list .tato_01 {font-size:20px;  text-align:center; margin:90px auto 15px;line-height: 0px; }
.map_t_list .lst_1 {width:79%; margin:0 auto;}
.map_t_list .lst_2 {width:79%; margin:0 auto;}
.map_t_list dl {float: none;}
.map_t_list dt {width:100%; font-size:18px; overflow:hidden; text-indent:12%;  line-height:26px;  margin-top:15px;}
.map_t_list dd {width:100%; font-size:0.22rem; overflow:hidden;  line-height:22px;}
.map_t_list dd em {float:left; width:12%; display: inline-block;}
.map_t_list dd span {float:left; width:88%; display: inline-block; margin-left:0px;}

.map_t_list2 {overflow:hidden; color:#FFF;}
.map_t_list2 .tato_02 {font-size:20px; line-height:20px; text-align:center; margin:30px auto 10px; }
.map_t_list2 .lst_1 {width:84%; margin:0 auto;}
.map_t_list2 .lst_2 {width:84%; margin:0 auto;}
.map_t_list2 .lst_3 {width:84%; margin:0 auto;}
.map_t_list2 dl {float: none;}
.map_t_list2 dt {width:100%; font-size:24px; overflow:hidden; text-indent:40px;  line-height:30px;  margin-top:25px;}
.map_t_list2 dd {width:100%; font-size:0.2rem; overflow:hidden; margin-top:0px;}
.map_t_list2 dd i { font-size:16px; }
.map_t_list2 dd em {float:left; width:11%; display: inline-block;}
.map_t_list2 dd span {float: none; width:100%; display:block; margin:0 auto;}


/** 加入我们 **/
.top_Join {height:160px; background: #e43b28 url(../image/pc/bg_01.jpg) no-repeat -212px 93px; padding-top:60px; background-size:auto 58%;}
.top_Join p { display:none}
.theme {text-align:center; font-size:18px; line-height:36px; color:#f08300;}

/** 滑动门 **/
.slideTxtBox{ width:100%; margin-top:55px; display:none;}

/* 移动端 滑动门 */
.sideMenu{width:90%; margin:0 auto 30px;   display:block;  border:0px solid #ddd;  }
.sideMenu h4{ height:32px; line-height:32px; padding-left:0px;  border:1px solid #e3e3e3; background:#FFF; cursor:pointer; text-align:center;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-khtml-border-radius:4px;
border-radius:4px;
 margin-top:10px;
}
.sideMenu h4 em{ float:right; display:block; width:40px; height:32px;  font-size:14px;  background:url(../image/pc/icoAdd.png) 16px 12px no-repeat; cursor:pointer;}
.sideMenu h4.on {color:#f08300;}
.sideMenu h4.on em{background-position:16px -57px;}
.sideMenu ul{padding:8px 5px; color:#999; display:none; /* 默认都隐藏 */ }
.sideMenu dl{ font-size:12px;}
.sideMenu dd{text-align: justify !important; display:block; width:100%;}
.sideMenu .tur  {width:100%; line-height:36px; font-size:12px; }
.sideMenu .tur  span{width:100%; display: block; border-bottom:1px solid #CCC; overflow: hidden}

.sideMenu .tur a{float:left; color:#333; width:50%; display:block; line-height:30px; font-size:12px;text-decoration: none; }
.sideMenu .tur .on,.sideMenu .tur a:hover{color:#f08300;}



.tits{width:100%; font-size:12px; padding-bottom:10px; color:#f08300; border-bottom:1px solid #dcdcdc;  margin-top:10px;}

.po .hant { height:32px; line-height:32px; padding-left:10px;  border:1px solid #e3e3e3; background:#f08300; cursor:pointer; text-align:center;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-khtml-border-radius:4px;
border-radius:4px;
 margin-top:10px;
 color:#FFF ;
}
.po .hant a{color:#FFF; text-decoration: none;}
.po {font-size:12px;}
.tcontent img {height: auto  !important;  width: 100%  !important;}
	.section-hezi3s .section-side .side {
		height: 500px !important;
	}
	.section-hezi3s .section-side .tableright{
		height: 400px !important;
	}
	.section-hezi3s .section-side  .context {
		padding: 70px 0 0 0px !important;
	}
	.section-hezi3s .section-side .img {
		background-size: 40% !important;
		height: 4rem !important;background-position: center center !important;
	}
	.wbanner{
		width: 100%;
		margin-top: 60px;
	}
/* 移动导航 */
#settings {Z-INDEX: 19; position: fixed; top:10px; left:5px; TEXT-INDENT: -99999px; WIDTH: 43px; display:block; BACKGROUND: url(../image/pc/op.png) no-repeat 0px 0px; HEIGHT: 43px; CURSOR: pointer;}

#settings:hover {BACKGROUND: url(../image/pc/op.png) no-repeat 0px -86px}
#opciones {Z-INDEX: 18; position:fixed; top:60px; left:0px;  width:100%; height:100%; font-size:12px; BACKGROUND: #e7e7e7; opacity:.9; COLOR: #999;  }
.cerrar {BACKGROUND: url(.../image/pc/op.png) no-repeat 0px -43px!important;}
.opciones ul{width:80%; margin:0 auto;}
.opciones li{width: 100%; line-height:44px; padding-top:16px; border-bottom:1px solid #adadad; font-size:14px; color:#666; }
.opciones li a{color:#666666; text-decoration: none;}
.opciones .prf{ padding-right:45px;}

.bdshare-button-style1-24 a, .bdshare-button-style1-24 .bds_more {  margin: 2px 6px 6px 0 !important;}
}

@media only screen and (min-width:330px) and (max-width:375px){
.diagram {width:100%; height:160px; margin-top:15px; background:url(../image/pc/illust_02.png) no-repeat  33px 13px; position:relative; margin:0 auto; background-size:310px  auto;}
.diagram a{width:60px; height:60px; display:block; position:absolute;  z-index:10; }

.diagram .women {left:28px; top:6px;}
.diagram .women .route {position:absolute; left:-18px; top:-6px;  z-index:5; display:block; width:288px; }

.diagram .students {left:161px; top:89px;}
.diagram .business .route {position:absolute; left:-89px; top:-9px; z-index:5;display:none; width:279px; }

.diagram .business {left:295px; top:20px;}
.diagram .business .route {position:absolute; left:-227px; top:-14px; z-index:5;display:none; width:299px; }
.address span{margin-top:10px; font-size:0.22rem; line-height:22px; color:#666;display:block;}

}

@media only screen and (min-width:380px) and (max-width:480px){
.diagram {width:100%; height:180px; margin-top:15px; background:url(../image/pc/illust_02.png) no-repeat  38px 15px; position:relative; margin:0 auto; background-size:346px  auto;}
.diagram a{width:65px; height:65px; display:block; position:absolute;  z-index:10;}

.diagram .women {left:29px; top:7px;}
.diagram .women .route {position:absolute; left:-17px; top:-7px;  z-index:5; display:block; width:320px; }

.diagram .students {left:180px; top:100px;}
.diagram .students .route {position:absolute; left:-99px; bottom:-8px; z-index:5; display:none;width:264px; }

.diagram .business {left:328px; top:23px;}
.diagram .business .route {position:absolute; left:-254px; top:-16px; z-index:5;display:none; width:337px; }
.address span{margin-top:10px; font-size:0.22rem; line-height:24px; color:#666;display:block;}

}

.top{
	top:0;
}

.dynamicBg{
	background: url(http://qiniu.jiajialink.com/banner.jpg) no-repeat;
	height: 390px;
	background-size: 100%;
	width: 100%;
	background-position: center;
}

