
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body {
    background: #feee05;
}
/*nav {*/
    /*border-bottom: 1px solid #000;*/
    /*border-bottom: 1px solid #000;*/
    /*height: 120px;*/
    /*line-height: 120px;*/
    /*text-align: center;*/

/*}*/
/*nav a {*/
    /*font-size: 20px;*/
    /*text-decoration: none;*/
    /*color: #000;*/
    /*display: inline-block;*/
    /*width: 120px;*/
    /*height: 48px;*/
    /*line-height: 48px;*/
    /*border-radius: 5px;*/
    /*text-align: center;*/
    /*margin-right: 2%;*/
    /*font-weight: 100;*/
/*}*/
.main-navigation {
    text-align: center;
    background: #ffffff;
    border-top: 1px solid #ebebeb;
    margin-bottom: 35px;
    border-bottom: 2px solid #e1e1e1;
}
.main-navigation .menu {
    padding: 0;
    margin: 0;
}
.navbar-header {
    text-align: center;
}
.main-navigation .menu li.nav-current {
    border-bottom: 2px solid #e67e22;
    margin-bottom: -2px;
}

.main-navigation .menu li a {
    color: #505050;
    /*line-height: 4em;*/
    display: block;
    padding: 5px 15px;
    border-radius: 5px;
}
.main-navigation .menu li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 15px 21px;
}
.msg .content_left {
    background: #feee05;
    position: fixed;
    /* background: rgba(0,0,0,.3); */
    position: absolute;
    width: 50%;
    /* height: 100%; */
    left: 50%;
    margin-left: -25%;
    padding: 4%;
    border-radius: 5px;
    top: 8%;
}
@media (max-width: 767px){
    .main-navigation .menu li {
        display: block;
    }
    .msg .content_left {
        background: #feee05;
        position: fixed;
        /* background: rgba(0,0,0,.3); */
        position: absolute;
        width: 90%;
        /* height: 100%; */
        left: 50%;
        margin-left: -45%;
        padding: 4%;
        border-radius: 5px;
        top: 8%;
    }
    .contact-textarea {
        min-height: 120px !important;

    }

    .contact-textarea textarea{
        height: 54px !important;

    }
}
@media (min-width: 768px) {
    .nav-toggle-button {
        display: none;
    }
}
.on a{
    /*color: #505050;*/
    /* line-height: 4em; */
    /*display: block;*/
    /* margin: 0 21px; */
    color: #fff !important;
    background: #000;
    /*padding: 0 15px;*/
    /*border-radius: 5px;*/
}
.banner {
    width: 100%;
    /*min-width: 1200px;*/
}
.content {
    margin-top: 30px;
}
.bg_box {
    background: url('/pc/image/child/div_bg.png') no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    /*min-width: 1200px;*/
    margin: 0 auto 50px;
    background-position: center center;
}
.bg_box1 {
    background: url('/pc/image/child/div_bg.png') no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    /*min-width: 1200px;*/
    margin: 0 auto 50px;
    background-position: top center;
    background-size: 100% 100%;
}
.bg_box_1 img {
    width: 100%;
}
.box_1_bottom_content {
    /*display: flex;*/
    align-items: center;
    /*max-width: 1000px;*/
    /*margin: 100px 0px 240px 0px;*/
    align-self: center;
    width: 85%;
    padding: 0 0 45px;

}
.box_1_bottom_content .content_left, .box_1_bottom_content .content_right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*width: 50%;*/
}
.box_1_bottom_content .content_left span:nth-child(1){
    margin-top: -6%;
}
.content_left_bg {
    /*background: url(/pc/image/child/news_bg.png) no-repeat;*/
    /*background-position: center center;*/
    /*!*min-width: 470px;*!*/
    /*background-size: 100%;*/
    /*display: block;*/
    /*min-height: 330px;*/
    position: relative;
    overflow: hidden;
}
.content_left_bg ul{
    text-align: center;
    list-style-type: none;
    position: absolute;
    top: 18px;
    width: 90%;
    left: 50%;
    margin-left: -45%;
    overflow: scroll;
    bottom: 18px;
}
.content_left_bg ul li {
    text-decoration: underline;
    margin: 7px 0;
    font-size: 13px;
}
.marginright20 {
    /*margin-right: 20px;*/
}
.content_right_bg {
    /*background: url(/pc/image/child/activity_bg.png) no-repeat;*/
    /*background-position: center center;*/
    /*!* min-width: 520px; *!*/
    /*background-size: 100%;*/
    /*display: block;*/
    /*!* min-height: 370px; *!*/
    /*margin-top: -6%;*/
    position: relative;

}
.content_right_bg .right_bg {
    width: 100%;
    display: block;
    margin: -6% auto;
}
.content_right_bg .right_bg_img {
    width: 70%;
    display: block;
    margin: -6% auto;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -35%;
}
.box_1_middle_banner img {
    /*min-width: 1000px;*/
}
.content_left span:eq(1) {
    text-align: left;
    align-self: flex-start;
}
.spots_bottom_content {
    /*margin: 0 0 230px 0 !important;*/
}
.bg_box_paddingtop30{
    padding-top: 30px;
}
.about_bottom_content ul li {
    width: 33.3%;
    float: left;
    /*margin-right: 2%;*/
    overflow: hidden;
}
.advantage_box {
    width: 90%;
    margin: 0 auto;
}
.advantage_box img{
    width: 100%;

}
.about_bottom_content ul li .advantage_box  img {
    float: left;
}
.about_bottom_content ul li .advantage_box  p {
    height: 130px;
    width: 100%;
    float: left;
    padding-top: 15px;
    background: #fff;
    text-align: center;
    font-size: 16px;
    color: #6b6fbe;
}
.input-box-bg {
    background: url(/pc/image/child/contact-input-bg.png) no-repeat;
    height: 60px;
    background-size: 100% 100%;
    line-height: 69px;
    text-align: center;
    font-size: 16px;
    width: 30%;
}
.name_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.name_box span {
    margin-top: 0 !important;
}
.name_box input {
    height: 30px;
    /* min-width: 300px; */
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-left: 10px;
    width: 70%;
    padding-left: 2%;
}
.contact-textarea {
    background: url(/pc/image/child/contact-textarea.png) no-repeat;
    background-position: top center;
    /* min-width: 480px; */
    background-size: 100%;
    display: block;
    min-height: 230px;
    text-align: center;
    padding-top: 7px;
    width: 100%;
}

.contact-textarea textarea{
    height: 100px;
    border: 0;
/* margin: 20px 0; */
    outline: none;
    resize: none;
    width: 85%;
    margin-top: 10px;
}
.contact-intro-box {
    border: 1px solid #000;
    background: #feee05;
    width: 97%;
    text-align: center;
    height: 327px;
    border-radius: 5px;
    margin-top: 17px;
    box-shadow: 5px 5px 5px #000;
}
.contact-intro-box ul{
    width: 85%;
    margin: 0 auto;
}
.contact-intro-box ul li{
    /*border: 1px solid #000;*/
    margin: 10px 0;
    border-radius: 5px;
}
.contact-intro-box ul li div{
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}
.contact-intro-box ul li div img{
    width: 46px;
}
.contact-intro-box ul li div span:nth-child(1){
    margin-left: 5%;
}
.contact-intro-box ul li div span:nth-child(2){
    margin-left: 6%;
    font-size: 13px;
    letter-spacing: 2px;
}
.contact_right {
    align-items: flex-end !important;
}
.name_box_submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.name_box_submit input {
    border: 1px solid #000;
    box-shadow: 5px 5px 5px #000;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    width: 100%;
    background: #feee05;
    text-align: center;
    font-size: 16px;
}
.contact-intro-box .intro-title {
    padding: 3% 0 ;
}
.contact_box {
    padding: 0px 0 50px;
}
.box_1_top_title{
    padding: 45px 0;
    text-align: center;
}
.box_1_top_title img{
    width: 70%;
}
.box_1_top_title_img {
    padding: 0px 0 45px;
}
.box_1_middle_banner{
    margin: 0 0 45px;
    padding-bottom: 2%;
}
.private_text1 {
    color: #feda15;
    padding: 10px 0 15px;
    font-size: 16px;
}
.private_text2 {
    color: #606ef4;
    padding: 10px 0 15px;
    font-size: 16px;
}
.private_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.private .line {
    border-bottom: 2px solid #feda15;
    height: 30px;
    width: 100%;
}
.private_left .content_img img {
    width: 100%;
}
.private_box_last {
    border: 0;
    margin-top: 5%;
}
.nopadding {
    padding: 0 !important;
}
.spots-banner {
    width: 100%;
}
.about_text {
    font-size: 17px;
    text-align: center;
    line-height: 35px;
}
.about_title_1{
    padding: 0 0 45px;
}
.wave{
    width: 100%;
    height: 7px;
    background-size: 15px 15px;
    background-repeat: repeat-x;
    background-image: linear-gradient(135deg, transparent 45%, #a8809f 55%, transparent 60%), linear-gradient(45deg, transparent 45%, #a8809f 55%, transparent 60%);
}
.wave2 {
    width: 33.5%;
    height: 7px;
    background-size: 15px 15px;
    background-repeat: repeat-x;
    background-image: linear-gradient(135deg, transparent 45%, #fff 55%, transparent 60%), linear-gradient(45deg, transparent 45%, #fff 55%, transparent 60%);
    margin: 0 auto;
}
.line20 {
    line-height: 20px;
}
.borderbottom-y {
   /* border-bottom: 1px solid #feee05;*/
}
.borderbottom-b {
    border-bottom: 1px solid #10a1e5;
    height: 0px;
    width: 62%;
    display: block;
    margin: 0 auto;
}
.contact_bottom {
    width: 100%;
}
.map {
    /*background: url(pc/image/child/contact-map.png) no-repeat;*/
    /*height: 416px;*/
    /*background-size: 100%;*/
    width: 90%;
    position: relative;
    text-align: center;
}
.map .map1 {
    width: 100%;
}
.mapimg {
    position: absolute;
    left: 60%;
    top: 3%;
    width: 10%;
}

*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif,"新宋体";}
/* focus_Box pc banner*/
#focus_Box{position:relative;
    width:864px;
    height:308px;margin:20px auto;}
/*#focus_Box ul{position:relative;width:710px;height:308px}*/
#focus_Box li{z-index:0;position:absolute;
    width:0px;
    background:#787878;
    height:0px;
    top:146px;
    cursor:pointer;
    left:377px;border-radius:4px;box-shadow:1px 1px 12px rgba(200, 200, 200, 1)}
#focus_Box li img{width:100%;background:url(/pc/image/child/images/loading.gif) no-repeat center 50%;height:100%;vertical-align:top}
#focus_Box li p{
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    color: #fff;
    display: inline-block;
    background: rgba(0,0,0,.7);
    border-radius: 5px;
    text-indent: 15px;
    font-size: 14px;
    padding: 10px 0;
}
#focus_Box li p span:nth-child(1) {
    font-size: 17px;
    color: #feee05;
    padding-bottom: 3px;
}
#focus_Box li p span:nth-child(2){
    display: inline-block;
    text-indent: 15px;

}
/*mobile*/
#spots_content_Box {
 text-align: center;
    position: relative;
}
#spots_content_Box ul li{
    margin-bottom: 5%;
}
#spots_content_Box a{
    width: 90%;
    display: block;
    margin: 0 auto;
    position: relative;
}
#spots_content_Box  img{
    display: block;
    margin: 0 auto;
    width: 100%;
}
#spots_content_Box li p{
    width: 100%;
    color: #fff;
    display: inline-block;
    background: rgba(0,0,0,.7);
    border-radius: 5px;
    text-indent: 15px;
    font-size: 14px;
    padding: 10px 0;
    margin: 0 auto;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -50%;
}
#spots_content_Box li p span:nth-child(1) {
    font-size: 17px;
    color: #feee05;
    padding-bottom: 3px;
    display: block;
}
#spots_content_Box li p span:nth-child(2){
    display: inline-block;
    text-indent: 15px;

}
#focus_Box .prev,#focus_Box .next{display:block;z-index:100;overflow:hidden;cursor:pointer;position:absolute;width:52px;height:52px;top:131px;}
#focus_Box .prev{background:url(/pc/image/child/images/btn.png) left bottom no-repeat;left:0px}
#focus_Box .next{background:url(/pc/image/child/images/btn.png) right bottom no-repeat;right:0px}
#focus_Box .prev:hover{background-position:left top;}
#focus_Box .next:hover{background-position:right top;}
.pc-min-980 {
    display: none;
}
.mobile-max-768 {
    display: block;
}
.private_title_img img{
    width: 75%;
}
@media (max-width: 768px) {
    .pc-min-980 {
        display: none;
    }
    .mobile-max-768 {
        display: block;
    }
    .private_title_img img{
        width: 75%;
    }
}
@media (min-width: 768px) {
    .bg_box_1 .box_1_bottom_content .content_left{
        width: 46%;
    }
    .bg_box_1 .box_1_bottom_content .content_right{
        width: 54%;
    }
    .pc-min-980 {
        display: none;
    }
    .mobile-max-768 {
        display: block;
    }
    .private_title_img img{
        width: 75%;
    }
}
@media (min-width: 980px) {
    .pc-min-980 {
        display: block;
    }
    .mobile-max-768 {
        display: none;
    }
    .spots_bottom_content {
        margin: 0 0 130px 0 !important;
    }
    .private_title_img img{
        width: 100%;
    }
}

/*旋转*/
@-moz-keyframes tada{
    0%{-moz-transform:scale(1);}
    10%,20%{-moz-transform:scale(1) rotate(-3deg);}
    30%,50%,70%,90%{-moz-transform:scale(1) rotate(3deg);}
    40%,60%,80%{-moz-transform:scale(1) rotate(-3deg);}
    100%{-moz-transform:scale(1) rotate(0);}
}

@-webkit-keyframes tada{
    0%{-webkit-transform:scale(1);}
    10%,20%{-webkit-transform:scale(1) rotate(-3deg);}
    30%,50%,70%,90%{-webkit-transform:scale(1) rotate(3deg);}
    40%,60%,80%{-webkit-transform:scale(1) rotate(-3deg);}
    100%{-webkit-transform:scale(1) rotate(0);}}

.shake{
    -webkit-animation: tada 1s infinite;
    -moz-animation: tada 1s .2s ease both;
    animation: tada 1s infinite;
    display: inline-block;
}
.msg {
    background: rgba(0,0,0,.3);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99999;
}

