.joinbg{
    background: #ebeeea url(http://qiniu.jiajialink.com/joinbanner.png) no-repeat center;
    height: 390px;
    position: relative;
    background-size: 100%;
}
.iphone{display: none !important;}
.pc{display: flex !important;
    flex: 2;}
.section{
    background: #fff !important;
}
.feature-card img{
    height: 40px;
}
.box_200{
    width: 300px;
    background: #36d688;
    position: absolute;
    bottom: -20px;
    height: 65px;
    left: 50%;
    margin-left: -150px;
    color: #fff;
    text-align: center;
    font-size: 17px;
}
.box_200 p{
line-height: 35px;
}
.row{
    /*padding-left: 10%;*/
    width: 90%;

    margin: 0 auto;
}
.weui_cells{
    margin-top: 0 !important;
    background-color: transparent !important;
    overflow: inherit !important;
}
.weui_label{
    width: 100px !important;
}
.weui_cell{
    padding: 9px 8px !important;
}
.weui_vcode{
    padding:9px  0px !important;
}
.weui_label{
color: #4d4d4d !important;
    font-size: 15px;
}
.weui_cells:before{
    border-top:none !important;
}
.weui_cells:after{
    border-bottom:1px solid #fff !important;
}
.weui_cell:before{
    border-top:1px solid #fff !important;
}
.weui_btn_area {
    padding-bottom: 1.17647059em;
}
.weui_btn_area a{
    padding: 0;
    height: 30px;
    background: #36d688 !important;
    font-size: 15px;
    line-height: 30px;
    margin-top: 40px;
}
.weui-vcode-btn{
    font-size: 14px !important;
    height: 30px !important;
    line-height: 30px !important;
}
.weui_cell_hd img{
    height: 19px;
    vertical-align: middle;
    display: inline-table !important;
    margin: 0 !important;
    padding: 0px 8px;
}
#form{
    margin-top: 50px;
}
.shadowBox{
    /*width: 75%;*/
    width: 900px;
    /*margin-left: 13% !important;*/
    box-shadow: 0px 8px 42px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 8px 42px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 8px 42px rgba(0,0,0,0.6);
    box-sizing: border-box;
    padding-left: 3%;
    background: #ebebeb;
}
.weui-vcode-btn{
    cursor: pointer;
}
.feature-card:hover {
    /*border: 1px solid #e2e2e2;*/
    /*-webkit-box-shadow: 1px 1px 8px #e2e2e2;*/
    /*-moz-box-shadow: 1px 1px 8px #e2e2e2;*/
    /*box-shadow: 1px 1px 8px #e2e2e2;*/
    /*-webkit-transition: all 0.5s ease;*/
    /*-moz-transition: all 0.5s ease;*/
    /*transition: all 0.5s ease;*/
    /*top: -10px;*/
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow:none !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
    top: 0 !important;
}
.section1img{
    padding-right: 0 !important;
}
.section1img img{
    min-height: 380px;
    float: right;
}
.platform img{
    width: 100%;
    height: auto;

    text-align: left;
    float: left;    margin-left: -21px !important;
}
.textul ul{
    /*padding-left:10%;*/
    padding-right: 17px;
}
.textul ul li{
    margin: 40px 0;
}
.formplatform2{
    min-height: 370px;
}
.box_200  a{
    color: #fff;
line-height: 20px;
    display: block;
}
.box_200  a:visited{
    color: #fff;

}
.feature-card{
    border: 0;
    background: transparent;
    height: 200px;
}
label{
    margin-bottom: 0px;
}
.feature-card img{
    margin: 0 auto;
    display: block;
}
.feature-card h3{
    text-align: center;
    margin: 5px auto 0;
    display: block;
    position: initial;
    color: #282929;
    font-weight: normal;
}
.feature-card ul li{
    text-align: center;
    color: #282929;
    font-weight: normal;
}
.platform ul li{
    text-align: left;

}
.platform2 ul li:nth-child(1){
    margin-bottom: 40px;
}
.platform2 ul {
    margin-left: 30px;
}
.platform2 ul li{
    text-align: left;
    margin: 20px 0;
    float: left;
}
.platform2 img{
    height: 17px;
    display: inline-table;
    vertical-align: middle;
    margin: 0;
    /*padding-right: 20px;*/
}
.platform2 h4{
    display: inline-block;
    padding-right: 40px;
    width: 170px;
    margin-left: 10px;
}
.platform2 .phoneimg img{
    height: 267px;
    padding-left: 12%;
}
.ztwimg2{
    float: right;
}
.center_bian{
    box-shadow:none !important;
}
@media only screen and (max-width: 640px) {
    .shadowBox{
        width: 100%;
    }
    .platform img,.section1img img{
        width: 100%;
        height: auto !important;
        min-height: 0;
    }
    .row{
        width: 100%;
    }
    .platform2 h4{
        width: 85%;
        margin-left: 5%;
    }
    .platform2 ul li {

         float: inherit;
    }
    .ztwimg2{
        float: inherit;
    }
    .platform2 ul {
        margin-left: 0px;
    }
    .iphone{display: inline-flex !important;}
    .pc{display: none !important;}
    .joinbg {
        height: 300px;
        background: #09121d url(/pc/image/joinbanner.png) no-repeat bottom center;
        background-size: auto 100%;
    }
}
.weui_btn_area a:hover{
    color: #fff !important;
}
/*input:hover{*/
    /*background-image: linear-gradient(#62a8ea, #62a8ea), linear-gradient(#e4eaec, #e4eaec);*/
    /*background-image: -ms-linear-gradient(#62a8ea, #62a8ea), -ms-linear-gradient(#e4eaec, #e4eaec);*/
    /*border: 0 none;*/
    /*border-radius: 0;*/
    /*box-shadow: none;*/
    /*float: none;*/
/*}*/
