/*....*/
.category-list {
    position: relative;
    margin-top: 7px;
    margin-bottom: 7px;
    /*background-color: #fff;*/
}

.category-list .box-hd {
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
}
.category-list .box-bd {
    overflow: hidden;
    _zoom: 1;
}
.category-list .box-hd .title {
    font-size: 18px;
    color: #ff6700;
    font-weight: 400;
    cursor: pointer;
}
.category-list h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
    padding: 0;
    border: 0;
}
.category-list .current .title i {
    border-color: #ff6700;
    color: #ff6700;
}

.category-list .box-hd .title i {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 18px;
    border: 1px solid #b0b0b0;
    border-radius: 15px;
    color: #b0b0b0;
    line-height: 20px;
    text-align: center;
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

i, cite, em, var, address, dfn {
    font-style: italic;
}


.category-list .box-hd .title {
    font-size: 18px;
    color: #ff6700;
    font-weight: 400;
    cursor: pointer;
    padding-left: 20px;
    text-align: center;
}
.category-list-title {
    text-align: left;
    display: block;
}
.category-list-title-1 {
    text-align: center;
}
.category-list-price {
    margin: 0.5em 0 0;
    text-align: left;
}
.btn_box {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.category-list .box-bd ul {
    margin-right: -4px;
}
.btn_lookdetail {
    width: 55%;
    background: #36d688;
    border: 1px solid #36d688;
    padding: 5px 0;
    border-radius: 4px;
    color: #fff;
}
.btn_order{
    width: 35%;
    border: 1px solid #666;
    border-radius: 5px;
    padding: 5px 0;
}
.category-list .box-bd ul li {
    float: left;
    /*height: 336px;*/
    text-align: center;
    padding: 5px !important;
    background: #eaeaea;
}
.category-list .box-bd ul li .category-list-img {

    background: #eaeaea;
}
.category-list-img {
    display: block;
    margin: 0px auto 5px;
}
.category-list-img  img{
    width: 100%;

}
.teamBox{
    overflow: hidden;
}
.teamBox a img{
    width: 350px;
    margin: 20px auto 0;
    text-align: center;
    display: block;
}
.teamBox a{
    margin: 0px 0;
}

/*详情*/
.section-hezi3s {
    -webkit-font-smoothing: antialiased;
}
.section-hezi3s .section-intro {
    background: url(//c1.mifile.cn/f/i/16/hezi3s/summary-intro.jpg) no-repeat top center #d9dbde;
    padding: 0;
}
.section-hezi3s .section-intro .container {
    position: relative;
    height: 700px;
    overflow: hidden;
    _zoom: 1;
}
.bd .container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
.container:before, .container:after {
    content: " ";
    display: table;
}
.section-hezi3s .section-intro .context {
    padding: 190px 0 0 720px;
}
.section-hezi3s .section-intro.is-visible .container .img2 {
    -webkit-animation: overall-img-ani 2s forwards cubic-bezier(0, 0.98, 1, 1);
    animation: overall-img-ani 2s forwards cubic-bezier(0, 0.98, 1, 1);
    opacity: 1;
    filter: alpha(opacity=100)\9;
}

.section-hezi3s .section-intro .container .img2 {
    background: url(//c1.mifile.cn/f/i/16/hezi3s/summary-box2.png?123456) no-repeat top center;
    width: 413px;
    height: 578px;
    top: 0px;
    left: 124px;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transition: all 2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 2s cubic-bezier(0.215, 0.61, 0.355, 1);
    position: absolute;
}
.section-hezi3s .section-intro.is-visible .container .shadow2 {
    opacity: 1;
    filter: alpha(opacity=100)\9;
}

.section-hezi3s .section-intro .container .shadow2 {
    position: absolute;
    background: url(//c1.mifile.cn/f/i/16/hezi3s/summary-shadow2.png?123456) no-repeat top center;
    width: 402px;
    height: 133px;
    top: 486px;
    left: 220px;
    opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transition: all 1s 1s ease-out;
    transition: all 1s 1s ease-out;
}
.section-hezi3s .section-intro .container .tips {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.bd .container:after {
    clear: both;
}
.section-hezi3s .section-intro .context {
    padding: 190px 0 0 720px;
}
.section-hezi3s .section-intro.is-visible .container .img {
    background: url(//c1.mifile.cn/f/i/16/hezi3s/summary-intro-icon.jpg) no-repeat top center;
}

.section-hezi3s .section-intro .context .img {
    width: 105px;
    height: 51px;
    margin-bottom: 20px;
}
.section-hezi3s .section-intro .context h1 {
    font-size: 48px;
}
.section-hezi3s .webfont {
    font-family: 'F6b13a';
}
.section-hezi3s h1, .section-hezi3s h2, .section-hezi3s h3, .section-hezi3s h4 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.section-hezi3s .section-intro .context .subTitle {
    font-size: 24px;
    color: #131e28;
}
.section-hezi3s .webfont {
    font-family: 'F6b13a';
}
.section-hezi3s .section-intro .context h1 em {
    font-style: normal;
    width: 110px;
    height: 42px;
    line-height: 42px;
    border: 2px solid #e11020;
    color: #e11020;
    font-size: 24px;
    display: inline-block;
    text-align: center;
    vertical-align: 9px;
    border-radius: 4px;
}
.section-hezi3s .section-intro .context h1 em i {
    font-style: normal;
}
.section-hezi3s .section-intro .context .value {
    font-size: 21px;
    margin-bottom: 0;
}
.section-hezi3s .section-intro .context .value span {
    color: #e11020;
    font-size: 36px;
    font-family: Avenir;
}
p, pre {
    margin: 2em 0;
}
.section-hezi3s .section-intro .context h1 {
    font-size: 48px;
    margin-bottom: 10px;
}
.section-hezi3s .webfont {
    font-family: 'F6b13a';
}
.section-hezi3s h1, .section-hezi3s h2, .section-hezi3s h3, .section-hezi3s h4 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
/*body {*/
    /*font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;*/
    /*color: #333;*/
    /*background-color: #fff;*/
    /*min-width: 1226px;*/
/*}*/
/*body {*/
    /*margin: 0;*/
/*}*/
@keyframes overall-img-ani{
    0% {
        -webkit-transform: translateY(-400px);
        transform: translateY(-400px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.section-hezi3s .section-side .img {
    background: url(/pc/image/Detail/YM-Q-1.png) no-repeat center center;
}
.section-hezi3s .section-side1 .img1 {
    background: url(/pc/image/Detail/YM-Q-1-1.png) no-repeat center center;
    background-size: contain;
}
.section-hezi3s .section-side .img2 {
    background: url(/pc/image/Detail/YM-Q-1-2.png) no-repeat left center;
    background-size: contain;
}
.section-hezi3s .section-side .side {
    height: 750px;
}
.section-hezi3s .section-side .side, .section-hezi3s .section-tp .side {
    /*width: 50%;*/
    /*float: left;*/
}
.section-hezi3s .section-side .side {
    height: 550px;
}
.section-hezi3s .section-side .side, .section-hezi3s .section-tp .side {
    /*width: 50%;*/
    /*float: left;*/
}
.section-hezi3s .section-side  .context {
    padding: 50px 0 0 162px;
}
.section-hezi3s .section-side .table {
    padding: 50px 0 0 0px;
}
.section-hezi3s .section-side .context h2.title {
    padding-top: 40px;    margin-bottom: 20px;
}

.section-hezi3s h2.title {
    color: #131e28;
    font-size: 36px;
}
.section-hezi3s .webfont {
    font-family: 'F6b13a';
}
.section-hezi3s h1, .section-hezi3s h2, .section-hezi3s h3, .section-hezi3s h4 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}
.section-hezi3s p.decs {
    font-size: 16px;
    line-height: 30/16;
    color: #515c65;
    margin: 1em 0;
}
.section-hezi3s p.decs {
    font-size: 16px;
    line-height: 30/16;
    color: #515c65;
}
.table tr{
    height: 50px;
}
.table tr td{
    width: 100px;

}
.table caption{
    background: #63a0cc;
    text-align: left;
    padding-left: 10px;
    color: #333;
}
.table tr:nth-child(even){
    background: #ebf0f6;
}
.table tr:nth-child(odd){
    background: #d2e0ed;
}
.table tr .w_10{
    width: 10px;
}
.tableimg{
    height: 400px !important;
}
.tableright{
    height: 400px !important;
}
.section-hezi3s .smalltitle {
    font-size: 25px;
}
.section-hezi3s .section-side1 .side {
    height: 300px;
}
.ym-Q-2img{
    background: url(/pc/image/Detail/YM-Q-2.png) no-repeat center center;
}
.ym-Q-2img2{
    background: url(/pc/image/Detail/YM-Q-2-2.png) no-repeat center center;
    background-size: contain;
}
.ym-Q-2img3{
    background: url(/pc/image/Detail/YM-Q-2-3.png) no-repeat center center;
    background-size: contain;
}
.ym-Q-3img{
    background: url(/pc/image/Detail/YM-Q-3.png) no-repeat center center;
}
.ym-Q-3img2{
    background: url(/pc/image/Detail/YM-Q-3.png) no-repeat center center;
    transform: rotate(24deg);
    -o-transform: rotate(24deg);
    -webkit-transform: rotate(24deg);
}
.ym-Q-3img3{
    background: url(/pc/image/Detail/YM-Q-3-3.png) no-repeat center center;
    background-size: contain;
}
.ym-Q-4img{
    background: url(/pc/image/Detail/YM-Q-4.png) no-repeat center center;
}

.ym-R-1img{
    background: url(/pc/image/Detail/YM-R-1.png) no-repeat center center;
}
.ym-R-2img{
    background: url(/pc/image/Detail/YM-R-2.png) no-repeat center center;
    background-size: 30%;
}
.ym-R-3img{
    background: url(/pc/image/Detail/YM-R-3.png) no-repeat center center;
    background-size: 30%;
}


.ym-C-1img{
    background: url(/pc/image/Detail/YM-C-1_1.png) no-repeat center center;
    background-size: 100%;
}
.ym-C-2img{
    background: url(/pc/image/Detail/YM-C-2.png) no-repeat center center;
    background-size: 45%;
}
.ym-C-3img{
    background: url(/pc/image/Detail/YM-C-3.png) no-repeat center center;
    background-size: 45%;
}
.ym-C-4img{
    background: url(/pc/image/Detail/YM-C-4.png) no-repeat center center;
    background-size: 100%;
}

.ym-S-1img{
    background: url(/pc/image/Detail/YM-S-1.png) no-repeat center center;
}
.ym-S-2img{
    background: url(/pc/image/Detail/YM-S-2.png) no-repeat center center;
}
.ym-S-3img{
    background: url(/pc/image/Detail/YM-S-3.png) no-repeat center center;
}
.navs {
    background: #f7f7f7 !important;
    margin: 0 !important;
}
.navs ul li{
    text-align: center;
    padding: 20px 0;

}
.navs .on {
    background: #36d688;

}
.navs .on a{
    color: #fff;
}
.J_category {
    background: #eaeaea;
}
@media  screen and (max-width: 320px) {
  a{
      font-size: 13px;
  }
}
.aBox {
    display: block;
    background: #fff;
    padding: 5px !important;
}
@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
    .navs ul li {
        text-align: center;
        padding: 0px 0 !important;
        height: 108px;
        line-height: 108px;
    }
    .aBox {
        display: block;
        background: #fff;
        padding: 7px !important;
    }
    .category-list-img {
        display: block;
        margin: 0px auto 0px;
    }
    .category-list-title {
        text-align: left;
        display: block;
        margin: 14px 0 12px 0;
    }
    .category-list-price {
        margin: 0em 0 22px;
        text-align: left;
    }
    .btn_box {
        padding: 0px 0;
        margin-bottom: 37px;
    }
    .btn_lookdetail {
        width: 60%;
        height: 44px;
        line-height: 44px;
        padding: 0;
    }
    .btn_order {
        padding: 0;
        width: 35.2%;
        height: 44px;
        line-height: 44px;
    }
    .category-list h2 {
        margin: 82px 0 30px;
    }
    .category-list h3 {
        margin: 0px 0 72px;
    }
}
