<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .header{
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background: rgba(0, 0, 0, 0.5);
      overflow: hidden;
    }
    .nav{
      position: absolute;
      left:0;
      bottom: 6%;
      background: #fff;
      padding: 0 0 20px;
      width: 100%;
    }
    .top{
      text-align: center;
      padding: 10px 0;
      border-bottom: 1px solid #ccc;
      font-size: 15px;
      position: relative;
    }
    .del{
      font-size: 25px;
      position: absolute;
      top: -1px;
      right: 16px;
      transform: rotate(42deg);
    }
    .jt_left{
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 10px solid #22cac6;
      display: inline-block;
      margin-right: 20px;
    }
    .bottom{
      padding: 10px 20px;
    }
    .jt_right{
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 10px solid #22cac6;
      display: inline-block;
      margin-left: 20px;
    }
    .column{
      text-align: center;
      letter-spacing: -2px;
    }
    table
    {
      border-collapse:collapse;
      float: left;
      width: 335px;
    }

    table, td, th
    {
      border:1px solid black;
    }
    tr th{
      width: 40px;
      /* padding: 13px 22px; */
      height: 40px;
    }
    tr td{
      width: 40px;
      height: 40px;
    }
    tbody{
      text-align: center;
    }
    .btn{
      background: #13b0bd;
      text-align: center;
      padding: 10px;
      color: #fff;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .kin_mb{
      margin-top: 30px;
      overflow: hidden;
      margin-top: 30px;
    }
    .kin_mb div{
      float: left;
    }
    *{
      padding: 0;
      margin: 0;
    }
    ul li{
      list-style: none;
      border-bottom: 1px solid #ccc;
    }
    ul{
      border:1px solid #ccc;
    }
    .qwe{
      border-bottom: none;
    }
    ul li span{
      width: 43px;
      display: inline-block;
      border-left: 1px solid #ccc;
    }
    .bom_del{

    }
    .kin_wid{
      height: 165px;
      width: 1005px;
    }
    .you{
      background: red;
    }
    .zhong{
      background: yellow;
    }
    .zuo{
      background: burlywood;
    }
  </style>
</head>
<body>
<div class="header">
  <div class="nav">
    <div class="top">
      北京美华妇儿医院 | 妇产科
      <span id="cancelDel" class="del">+</span>
    </div>
    <div class="bottom">
      <div class="column">
        <span class="jt_left"></span>
        <span>11</span>
        <span>月</span>
        <span>06</span>
        <span>日</span>
        <span>-</span>
        <span>11</span>
        <span>月</span>
        <span>12</span>
        <span>日</span>
        <span class="jt_right"></span>
      </div>
      <div class="kin_mb">

        <div class="kin_wid">
          <table class="zuo" align="center">
            <tr>
              <th></th>
              <th>周1</th>
              <th>周2</th>
              <th>周3</th>
              <th>周4</th>
              <th>周5</th>
              <th>周6</th>
              <th>周7</th>
            </tr>
            <tr>
              <td>上午</td>
              <td>Gat</td>
              <td>Gat</td>
              <td>Gat</td>
              <td>Gat</td>
              <td>Gat</td>
              <td>Gat</td>
              <td>Gat</td>
            </tr>
            <tr>
              <td>下午</td>
              <td>Ste</td>
              <td>ade</td>
              <td>ade</td>
              <td>ade</td>
              <td>ade</td>
              <td>ade</td>
              <td>ade</td>
            </tr>
            <tr>
              <td>晚上</td>
              <td>Ste</td>
              <td>Ste</td>
              <td>Ste</td>
              <td>Ste</td>
              <td>Ste</td>
              <td>Ste</td>
              <td>Ste</td>
            </tr>
          </table>
          <table class="zhong" align="center">
            <tr>
              <th></th>
              <th>周一</th>
              <th>周二</th>
              <th>周三</th>
              <th>周四</th>
              <th>周五</th>
              <th>周六</th>
              <th>周日</th>
            </tr>
            <tr>
              <td>上午</td>
              <td>Gat</td>
              <td>Gat</td>
              <td>Gat</td>
              <td>Gat</td>
              <td>Gat</td>
              <td>Gat</td>
              <td>Gat</td>
            </tr>
            <tr>
              <td>下午</td>
              <td>Ste</td>
              <td>ade</td>
              <td>ade</td>
              <td>ade</td>
              <td>ade</td>
              <td>ade</td>
              <td>ade</td>
            </tr>
            <tr>
              <td>晚上</td>
              <td>Ste</td>
              <td>Ste</td>
              <td>Ste</td>
              <td>Ste</td>
              <td>Ste</td>
              <td>Ste</td>
              <td>Ste</td>
            </tr>
          </table>
          <table class="you" align="center">
            <tr>
              <th></th>
              <th>周1</th>
              <th>周2</th>
              <th>周3</th>
              <th>周4</th>
              <th>周5</th>
              <th>周6</th>
              <th>周7</th>
            </tr>
            <tr>
              <td>上午</td>
              <td>Gat</td>
              <td>Gat</td>
              <td>Gat</td>
              <td>Gat</td>
              <td>Gat</td>
              <td>Gat</td>
              <td>Gat</td>
            </tr>
            <tr>
              <td>下午</td>
              <td>Ste</td>
              <td>ade</td>
              <td>ade</td>
              <td>ade</td>
              <td>ade</td>
              <td>ade</td>
              <td>ade</td>
            </tr>
            <tr>
              <td>晚上</td>
              <td>Ste</td>
              <td>Ste</td>
              <td>Ste</td>
              <td>Ste</td>
              <td>Ste</td>
              <td>Ste</td>
              <td>Ste</td>
            </tr>
          </table>
        </div>



      </div>
    </div>
  </div>
  <div class="btn">我知道了</div>
</div>
  <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
  <script>
    $(function () {
      $('.zuo').css('margin-left','-350px');
      $('.zhong').css('margin-left','0');
      $('.you').css('margin-left','0');

      $('.jt_right').on('click', function () {
//        $('.you').css('margin-left','-180px');
//        $('.zhong').css('margin-left','-155px');
        $('.kin_wid').css('margin-left','-335px')
      });
      $('.jt_left').on('click', function () {
//        $('.you').css('margin-left','180px');
//        $('.zhong').css('margin-left','0px');
        $('.kin_wid').css('margin-left','0px')

      })



      var $cancelDel = $('#cancelDel');
      $cancelDel.on('click', function () {
        $('.header').css('display','none');
      })
//      $('.jt_right').on('click', function () {
//        $('.you').css('margin-left','-180px');
//        $('.zhong').css('margin-left','-155px');
//      });
//      $('.jt_left').on('click', function () {
//        $('.you').css('margin-left','180px');
//        $('.zhong').css('margin-left','0px');
//      });
//      $('.jt_left').on('click', function () {
//        $('.you').css('margin-left','180px');
//        $('.zhong').css('margin-left','0px');
//      })
    })
  </script>
</body>
</html>
