html{
    font-size: 37.5px !important;
    list-style-type: none;
}
* {
    padding: 0;
    margin: 0;
}
blockquote,body,button,caption,dd,div,dl,dt,fieldset,figure,form,h1,h2,h3,h4,h5,h6,hr,html,input,legend,li,menu,ol,p,pre,table,td,textarea,th,ul {
    margin: 0;
    padding: 0;
    outline: 0
}

address,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,th {
    text-align: left;
    font-weight: 400
}

abbr,body,fieldset,html,iframe,img {
    border: 0
}

address,cite,dfn,em,i,var {
    font-style: normal
}[hidefocus],summary {
     outline: 0
 }

li {
    list-style: none
}

h1,h2,h3,h4,h5,h6,small {
    font-size: 100%
}

sub,sup {
    font-size: 83%
}

code,kbd,pre,samp {
    font-family: inherit
}

q:after,q:before {
    content: none
}

textarea {
    overflow: auto;
    resize: none
}

label,summary {
    cursor: default
}

a,button {
    cursor: pointer
}

b,em,h1,h2,h3,h4,h5,h6,strong {
    font-weight: 400
}

a,a:hover,del,ins,s,u {
    text-decoration: none;
    outline: 0
}

body,button,input,keygen,legend,select,textarea {
    font-size: .75rem;
    line-height: 1.5;
    color: #333;
    outline: 0;
    font-family: PingFangSC-Light,helvetica,'Heiti SC'
}

input::-ms-clear,input::-ms-reveal {
    display: none
}

:root * {
    -webkit-filter: none !ie;
    filter: none !ie;
}
.f-vc,.m-good .imgWrap {
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%)
}

*,.m-lightbox,:after,:before {
    -webkit-tap-highlight-color: transparent
}
.m-slide {
    position: relative;
    width: 100%;
    /*padding-top: 100%;*/
    overflow: hidden;
}
.u-icon {
    display: inline-block;
    width: .66667rem;
    height: .66667rem;
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.m-detail-slide-con {
    position: relative;
}
.m-detail-slide-con .detailFlashSale {
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 1;
}
.m-flashSale.active {
    color: #fff;
    background-color: rgba(244,143,24,.95);
}
.m-flashSale {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    width: 100%;
    /*padding: 0 .37333rem;*/
    line-height: .96rem;
    color: #333;
    background-color: rgba(247,223,194,.95);
}
.m-btnGroup .inner, .m-flashSale {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
}
.m-flashSale .title {
    margin-right: .13333rem;
    font-size: .48rem;
}
.m-flashSale .status {
    font-size: .32rem;
}
.m-flashSale .right {
    position: relative;
    margin-right: 0;
    margin-left: auto;
    font-size: .32rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
.m-characteristic {
    padding: .32rem .4rem;
    background-color: #F9F9F9;
    display: flex;
}
.m-characteristic, .m-detailBaseInfo .tagList .wrap .item .tag {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
}
.m-characteristic .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.m-characteristic .item .left {
    width: .96rem;
    height: .96rem;
    margin-right: .16rem;
}
.m-characteristic .item .left img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
.dt-section-1, .dt-section-2 {
    border-bottom: none;
}
.m-detailBaseInfo .content {
    padding: .53333rem 0 .53333rem .4rem;
    border-bottom: .26667rem solid #f4f4f4;
    display: flex;
}
.m-actInfo, .m-detailBaseInfo .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
}
.m-detailBaseInfo .content .info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.m-detailBaseInfo .content .info .name {
    font-size: .48rem;
    margin-bottom: .06667rem;
}
.m-detailBaseInfo .content .info .desc {
    font-size: .37333rem;
    line-height: 1;
    color: #7f7f7f;
}
.m-detailBaseInfo .content .info .price {
    height: .74667rem;
    margin-bottom: .10667rem;
}
.m-detailBaseInfo .content .info .price .currentPrice {
    font-size: .64rem;
    color: #B4282D;
    font-weight: 700;
}
.m-detailBaseInfo .content .info .price .couterPrice {
    position: relative;
    margin-left: .21333rem;
    font-size: .37333rem;
    color: #999;
}
.m-detailBaseInfo .content .info .price .couterPrice:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    margin: auto;
    background-color: #999;
}
*, :after, :before {
    /* -webkit-box-sizing: border-box; */
    -moz-box-sizing: border-box;
    /* box-sizing: border-box; */
    /* -webkit-text-size-adjust: 100%; */
    -ms-text-size-adjust: 100%;
    /* text-size-adjust: 100%; */
}
.m-detailBaseInfo .tagList .wrap:first-of-type {
    margin-left: 0;
}
.m-detailBaseInfo .tagList .wrap {
    margin-right: .21333rem;
    margin-top: .26667rem;
    display: inline-block;
    height: .48rem;
}
.m-detailBaseInfo .tagList .wrap .item {
    line-height: .48rem;
    height: .48rem;
    padding: 0 .13333rem;
    font-size: .32rem;
    border: 1px solid #f48f18;
    border-radius: 4px;
}
.m-detailBaseInfo .tagList .wrap .item .tag {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    color: #f48f18;
}
.m-detailBaseInfo .tagList .wrap .item .tag .u-icon-detailTagArrow, .m-detailBaseInfo .tagList .wrap .item .tag .u-icon-detailTagBlackArrow {
    margin-left: .10667rem;
}
.u-icon-detailTagArrow {
    background-image: url(//yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/detailTagArrow-18bee52dab.png);
}
.u-icon-detailTagArrow, .u-icon-detailTagBlackArrow {
    width: .13333rem;
    height: .24rem;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.m-characteristic .item .right .text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 1.52rem;
    font-size: .37333rem;
    line-height: .42667rem;
    margin-bottom: .21333rem;
}
.m-detailBaseInfo .content .comment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    background-image: linear-gradient(to bottom,#919191 33%,rgba(255,255,255,0) 0);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    width: 2.08rem;
    background-size: 1px 12px;
    background-repeat: repeat-y;
}
.m-detailBaseInfo .content .comment .wrap .num {
    font-weight: 700;
    font-size: .48rem;
    line-height: 1;
    margin-bottom: .13333rem;
    color: #B4282D;
    text-align: center;
}
.m-detailBaseInfo .content .comment .wrap .com {
    color: #B4282D;
    line-height: 1;
    margin-bottom: .26667rem;
    font-size: 0.25rem;
}
.m-detailBaseInfo .content .comment .wrap .more {
    border: 1px solid #7F7F7F;
    border-radius: 2px;
    text-align: center;
    font-size: 0.25rem;
}
.m-detailBaseInfo .specSelect {
    padding-left: .4rem;
}
.couponList-wraper .m-listItem, .m-detailBaseInfo .specSelect .m-listItem, .m-hdrkDetail {
    border-bottom: 1px solid #d9d9d9;
}
.m-listItem {
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    min-height: 1.38667rem;
    padding-right: 1.06667rem;
}
.m-detailBaseInfo .specSelect .inner {
    font-size: .37333rem;
    line-height: .4rem;
}
.m-listItem .inner {
    width: 100%;
    zoom: 1;
}

.m-listItem>.icon {
    position: absolute;
    right: .21333rem;
    top: 0;
    bottom: 0;
    margin: auto;
}

.u-address-right {
    background: url(//yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/address-right-596d39df1e.png) no-repeat;
    background-size: 100%;
}
.remark-wraper {
    padding-left: .4rem;
}
.remark-wraper .m-listItem {
    border-top: none;
    border-bottom: 1px solid #d9d9d9;
}
.m-listItem.noArrow {
    padding-right: 0;
}
.remark-wraper .remark {
    display: block;
    font-size: .37333rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
}
.m-hdrkDetail {
    margin-left: .4rem;
}
.m-hdrkDetail .m-actEntry {
    padding-left: 0;
}
.m-actEntry {
    padding-left: .4rem;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
.m-actEntry label {
    margin-right: .13333rem;
    line-height: .48rem;
    color: #333;
    word-wrap: normal;
}
.m-actEntry label, .m-actInfo .txt {
    font-size: .37333rem;
    white-space: nowrap;
}
.m-actInfo {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
.m-actInfo .tag {
    position: relative;
    margin-right: .13333rem;
}
.w-tag {
    border-radius: 4px;
    display: inline-block;
    padding: 0 .12rem;
    vertical-align: middle;
    line-height: .45333rem;
    font-size: .32rem;
    color: #f48f18;
    border: 1px solid #f48f18;
}
.m-actEntry .m-actInfo .txt {
    max-width: 4.66667rem;
    vertical-align: middle;
    line-height: .45333rem;
    height: .45333rem;
}
.m-actInfo .txt {
    display: block;
    max-width: 6rem;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #f48f18;
}
.service-wraper {
    padding: .32rem 0 .10667rem;
}
.dt-section {
    background: #fff;
    border-bottom: .26667rem solid #f4f4f4;
}
.m-serviceEntry {
    padding-left: .4rem;
    font-size: .37333rem;
    min-height: .96rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
}
.m-serviceEntry .left {
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    line-height: 1;
    color: #333;
    margin-right: .26667rem;
}
.m-serviceEntry .right {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.m-serviceEntry .right .right-item {
    position: relative;
    padding-left: .21333rem;
    margin-right: .53333rem;
    float: left;
    line-height: 1;
    margin-bottom: .21333rem;
    color: #7f7f7f;
}
.m-serviceEntry .right .right-item:after {
    content: "";
    position: absolute;
    width: .10667rem;
    height: .10667rem;
    background: #b4282d;
    border-radius: 100%;
    left: 0;
    top: .13333rem;
}
.dt-section {
    background: #fff;
    border-bottom: .26667rem solid #f4f4f4;
}
.m-detailComment {
    background-color: #fff;
}
.m-detailComment>header {
    margin-left: .4rem;
    position: relative;
    border-bottom: 1px solid #d9d9d9;
    padding: .4rem 2.4rem .4rem 0;
}
.m-detailComment>header .title {
    line-height: .4rem;
    font-size: .37333rem;
    color: #333;
}
.m-detailComment>header .comment-checkAll {
    padding-right: .6rem;
    right: .21333rem;
    font-size: .37333rem;
    color: #333;
    height: .66667rem;
    line-height: .66667rem;
}
.m-detailComment>header .comment-checkAll, .m-detailComment>header .comment-checkAll .icon {
    position: absolute;
    margin: auto;
    bottom: 0;
    top: 0;
}
.m-comment .extraInfo {
    margin-top: .24rem;
}
.m-comment .extraInfo, .m-comment .time {
    font-size: .32rem;
    line-height: 1;
    color: #7f7f7f;
}
.m-comment .extraInfo, .m-comment .time {
    font-size: .32rem;
    line-height: 1;
    color: #7f7f7f;
}
.m-comment .extraInfo .skus {
    display: inline-block;
    margin-left: .21333rem;
}
.m-comment header .left {
    zoom: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    font-size: .37333rem;
}
.m-comment header .left .avatar {
    width: .85333rem;
    height: .85333rem;
    margin-right: .21333rem;
    border-radius: 50%;
    overflow: hidden;
}
.m-comment header .left .name {
    margin-right: .16rem;
}
.m-comment header {
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    padding: .4rem 0 .05333rem;
}
.m-comment header, .m-lightbox .swiper-zoom-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}
.m-comment header, .m-servicePolicy .item {
    display: -moz-flex;
    -webkit-box-align: center;
}
.g-c {
    zoom: 1;
    padding: 0 .4rem;
}
.m-comment .content {
    margin-top: .24rem;
    padding-right: .4rem;
}
.m-comment-detail .CustomerService-content, .m-comment-detail .content .inner {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.m-comment .content .inner {
    white-space: pre-line;
    word-wrap: break-word;
    word-break: break-all;
    font-size: .37333rem;
    line-height: .53333rem;
    font-weight: 400;
    color: #333;
}
.m-comment .commentPics {
    margin: .29333rem 0 .08rem;
}
.m-commentPics .list {
    overflow: hidden;
}
.m-commentPics .list .item-wrap:last-child {
    margin-right: 0;
}
.m-commentPics .list .item-wrap {
    z-index: 1;
    float: left;
    border: 1px solid #d9d9d9;
    margin-right: .36rem;
    border-radius: 4px;
}
.m-commentPics .list .item, .m-commentPics .list .item-wrap {
    position: relative;
    width: 1.92rem;
    height: 1.92rem;
    overflow: hidden;
}
.m-commentPics .list .item, .m-commentPics .list .item-wrap {
    position: relative;
    width: 1.92rem;
    height: 1.92rem;
    overflow: hidden;
}
.m-commentPics .list .item img {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate3D(-50%,-50%,0);
    -ms-transform: translate3D(-50%,-50%,0);
    -webkit-transform: translate3D(-50%,-50%,0);
    transform: translate3D(-50%,-50%,0);
    display: block;
}
.m-comment footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}
.m-comment footer .CustomerService-wrap {
    margin: .32rem 0 0;
    background-color: rgba(0,0,0,.03);
    border-radius: 4px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: .26667rem;
    width: 100%;
}
.m-comment footer .CustomerService-content {
    line-height: .45333rem;
    font-size: .37333rem;
    color: #7f7f7f;
    font-weight: 400;
}
.m-comment-detail .CustomerService-content, .m-comment-detail .content .inner {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.m-comment footer .CustomerService-title {
    color: #333;
}
.dt-section {
    background: #fff;
    border-bottom: .26667rem solid #f4f4f4;
}
.m-attrCon {
    padding: .4rem;
}
.m-attrCon .attrList .tt {
    padding: .53333rem 0 .32rem;
    font-size: .37333rem;
    line-height: 1;
}
.m-attrCon .attrList .item {
    zoom: 1;
    font-size: .32rem;
    line-height: .58667rem;
    padding: .13333rem .4rem .13333rem 0;
    background-image: linear-gradient(to right,#919191 33%,rgba(255,255,255,0) 0);
    background-position: top;
    background-size: 12px 1px;
    background-repeat: repeat-x;
}
.m-attrCon .attrList .item .left {
    float: left;
    width: 1.97333rem;/*gaiaiiaiaiiai*/
    position: relative;
    color: #999;
}
.m-attrCon .attrList .item .right {
    margin-left: 2.24rem;
}
.m-detailHtml {
    width: 100%;
}
.m-detailHtml img {
    width: 100%;
    vertical-align: top;
}
.dt-section-2 {
    padding: 0 .4rem;
}
.m-reportCheck .title {
    position: relative;
    padding: .72rem 0;
    text-align: center;
}
.m-reportCheck .title .text {
    display: inline-block;
    position: relative;
    padding-right: .21333rem;
    padding-left: .21333rem;
    line-height: 1;
    color: #333;
    font-size: .42667rem;
    background-color: #fff;
    z-index: 2;
}
.m-reportCheck .bd {
    position: relative;
    border: 1px solid rgba(0,0,0,.15);
}
.m-reportCheck .bd>img {
    display: block;
    width: 100%;
}
.m-reportCheck .bd .zoomIn {
    position: absolute;
    bottom: .26667rem;
    right: .26667rem;
    width: .92rem;
    height: .92rem;
    background: url(//yanxuan.nosdn.127.net/7cd4824….png) no-repeat;
    background-size: 100%;
}
.m-lightbox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    color: #fff;
    background-color: #000;
    overflow: hidden;
}
.m-reportCheck .title:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    content: ' ';
    width: 3.97333rem;
    height: 1px;
    margin: auto;
    border-bottom: 1px solid #ccc;
}
.m-commonIssues {
    padding: 0 .4rem .4rem;
    background-color: #fff;
}
.m-commonIssues .tt {
    position: relative;
    padding: .72rem 0;
    text-align: center;
}
.m-commonIssues .tt .line {
    width: 3.97333rem;
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 1px;
    background-color: #ccc;
    z-index: 1;
}
.m-commonIssues .tt .text {
    display: inline-block;
    font-size: .42667rem;
    padding-right: .21333rem;
    padding-left: .21333rem;
    line-height: 1;
    color: #333;
    background-color: #fff;
    position: relative;
    z-index: 2;
}
.m-commonIssues .item {
    padding-bottom: .34667rem;
    font-size: .34667rem;
}
.m-commonIssues .item .qu {
    color: #303030;
    padding-bottom: .2rem;
    line-height: 1;
    position: relative;
    padding-left: .24rem;
}
.m-commonIssues .item .qu .u-detail-redNum {
    position: absolute;
    display: block;
    top: .10667rem;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #b4282d;
    border-radius: 50%;
    font-size: .34667rem;
}
.m-commonIssues .item .an {
    color: #787878;
    line-height: .48rem;
    padding-left: .21333rem;
}

/*comment*/
.commentsRate {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding: .4rem .4rem 0;
    font-size: .37333rem;
}
.commentsRate>span {
    margin-right: .26667rem;
    line-height: .45333rem;
}
.m-rate {
    overflow: hidden;
}

.m-rate .star-orange, .m-rate .star-yellow {
    width: .45333rem;
    height: .44rem;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.m-rate .star {
    background-image: url(//yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/star-grey-6c03c05d4e.png);
    width: .45333rem;
    height: .44rem;
    float: left;
    margin-right: .21333rem;
}
.m-rate .star, .m-rate .star-smallGrey {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.m-rate .star-yellow {
    background-image: url(//yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/star-yellow-1ad5908a3b.png);
}
.m-tagList .active {
    color: #b4282d;
    border-color: #b4282d;
}
.m-tagList {
    background-color: #fff;
    padding: .10667rem 0 .42667rem .45333rem;
    position: relative;
}
.m-tagList .toggleUp {
    height: 2.3rem;
    overflow: hidden;
}
.m-tagList .active {
    color: #b4282d;
    border-color: #b4282d;
}
.m-tagList .tag {
    display: inline-block;
    padding: .10667rem .21333rem .14667rem;
    border: 1px solid #7F7F7F;
    border-radius: .05333rem;
    margin: .42667rem .42667rem 0 0;
}
.m-tagList .tag, .m-tagList .toggle {
    font-size: .32rem;
    line-height: .38667rem;
}
.m-tagList .toggle {
    margin-top: .42667rem;
    text-align: center;
    color: #7F7F7F;
    padding-right: .45333rem;
    vertical-align: middle;
}
.m-tagList .tag, .m-tagList .toggle {
    font-size: .32rem;
    line-height: .38667rem;
}
.m-tagList .toggle .arrowDown {
    background-image: url(//yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/arrow-down-3-a6045aadfd.png);
}
.m-tagList .toggle .icon {
    margin-left: .18667rem;
}
.m-tagList .toggle .arrowDown, .m-tagList .toggle .arrowUp {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: .26667rem;
    height: .26667rem;
}
.m-tagList:after {
    content: '';
    position: absolute;
    background-color: #d9d9d9;
    left: 0;
    width: 100%;
    height: 1px;
    -webkit-transform-origin: 50% 100% 0;
    transform-origin: 50% 100% 0;
    bottom: 0;
}
.m-commentList>.item {
    margin-right: .4rem;
    line-height: 1;
    border-bottom: 1px solid #d9d9d9;
}
.comment-box .m-comment-detail .CustomerService-content,
.m-comment-detail .content .inner {
    display: block;
}
.m-comment {
    padding-bottom: .4rem;
}
.m-goToTop {
    position: fixed;
    right: .30667rem;
    bottom: 1.6rem;
    vertical-align: middle;
    width: 1.09333rem;
    height: 1.09333rem;
    background-image: url(//yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/goToTop-7a19216f77.png);
    background-size: 1.09333rem 1.09333rem;
    z-index: 2;
    display: none;
}
.u-icon-v2 {
    background-position: 0 -75.62667rem;
}
.u-icon-v1, .u-icon-v2, .u-icon-v3, .u-icon-v4 {
    display: inline-block;
    vertical-align: middle;
    background-image: url(//yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/membership-s05ea9d829a-2b4c4004b8.png);
    background-repeat: no-repeat;
    background-size: 1.6rem 77.09333rem;
    width: .4rem;
    height: .4rem;
}
.m-comment .commentRate {
    margin-left: .13333rem;
    padding: 0;
}
.commentRate .m-rate .star {
    width: .35333rem;
    height: .34rem;
}
.m-tagList .toggle .arrowUp {
    background-image: url(//yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/arrowUp-3ababb1687.png);
}
/*jiazai*/
.m-statusbar {
    height: 1.28rem;
    background-size: 100%;
    line-height: 1.28rem;
    text-align: center;
    background-color: #f4f4f4;
    display: flex;
    display: -webkit-flex;
    /* align-items: center; */
    justify-content: center;
    display: none;
}
.m-statusbar .statusCnt {
    display: inline-block;
    height: .48rem;
    line-height: .48rem;
    font-size: .32rem;
    color: #999;
    position: relative;
    padding-left: .64rem;
}
.statusCnt {

    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.m-statusbar .ball-clip-rotate {
    position: absolute;
    left: 0;
    top: 0;
    width: .48rem;
    height: .48rem;
    line-height: .48rem;
    margin-right: .16rem;
}
.m-statusbar .ball-clip-rotate>div {
    width: .42667rem;
    height: .42667rem;
    border-radius: 100%;
    border: .02667rem solid #e5cbcb;
    border-bottom-color: #b4282d;
    background: 0 0!important;
    display: inline-block;
    -webkit-animation: rotate .75s 0s linear infinite;
    animation: rotate .75s 0s linear infinite;
}
@keyframes rotate{
     0%{
         -webkit-transform:rotate(0) scale(1);
         transform:rotate(0) scale(1)
     }
     50%{
         -webkit-transform:rotate(180deg) scale(1);
         transform:rotate(180deg) scale(1)
     }
     100%{
         -webkit-transform:rotate(360deg) scale(1);
         transform:rotate(360deg) scale(1)
     }
 }
