@charset "utf-8";
*{
    margin:0;
    padding:0;
    list-style-type: none;
}
body{
    background:#fafafa;
    font: 14px Arial,Helvetica,sans-serif;
}
.wannianli-bar{
    height: 2px;
    background: #0058d2;
}
.wannianli-color{
    height: 100%;
    width: 50%;
    background: #cc0000;
}
.wannianli-title {
    position:relative;
    line-height: 48px;
    font-size: 17px;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    background: #fff;
}
.wannianli-title a {
    position: absolute;
    display: block;
    padding: 0 19px;
    height: 48px;
    line-height: 48px;
    top: 0;
    right: 0;
    color: #00c;
}
.wannianli-title span {
    position: absolute;
    display: block;
    width: 12px;
    height: 18px;
    background-position: 0 -80px;
    border: 15px solid #fff;
    margin-left: 4px;
}
.wannianli-ico {
    background: url(/h5/image/icon.png) no-repeat 23px 0 #fff;
    background-size: 20px 155px;
}
/**/
.swiper-container{
    padding:19px 0 0;
}
.swiper-slide{
    width:82%;
    /*width: 100%;*/
    padding:0 2%;
}
.wannianli-card {
    width:100%;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,.06);
    background: #fff;
}
.wannianli-info {
    /*height: 270px;*/
    background: #fafafa;
    border: 1px solid #d1d1d1;
    border-bottom: 1px solid #f3f3f3;
    text-align: center;
    overflow: hidden;
    padding-top: 2px;
    box-shadow: inset 0 2px #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.wannianli-info>* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 10px;
    line-height: 24px;
}
.wannianli-info h2 {
    font-size: 18px;
    margin-top: 18px;
}
.wannianli-info h1 {
    font-size: 78px;
    line-height: 90px;
    margin: -3px 0 -8px 0;
}
.wannianli-info h3 {
    font-size: 17px;
}
.wannianli-info h4 {
    font-size: 12px;
    color: #777;
    margin-top: -4px;
}
/**/
.wannianli-other {
    /*padding: 20px 18px;*/
    border: 1px solid #d1d1d1;
    border-top: none;
    border-bottom-left-radius: 3px;
}
.wannianli-other table {
    border: none;
    border-collapse: collapse;
}
.wannianli-other table:last-child {
    margin-top: 20px;
}
.wannianli-other table td {
    height:54px;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
}
.wannianli-other table div {
    position: relative;
    display: inline-block;
    font-size: 19px;
    border-radius: 50%;
    border: 2px solid #43bf18;
    text-align: center;
    color: #43bf18;
    height: 36px;
    line-height: 36px;
    width: 36px;
    margin-right: 28px;
}
.wannianli-other table:last-child div {
    color: #ff4e4e;
    border: 2px solid #ff4e4e;
}
.wannianli-other table div i {
    width: 1px;
    height: 40px;
    position: absolute;
    top: -2px;
    right: -17px;
    background: #f3f3f3;
}
.wannianli-lt, .wannianli-rt {
    position: absolute;
    display: block;
    width: 6px;
    height: 14px;
    background-position: 0 -115px;
    top: -3px;
    left: 10px;
}
.wannianli-rt {
    left: auto;
    right: 10px;
}
.wannianli-rb {
    position: absolute;
    display: block;
    width: 20px;
    height: 25px;
    background-position: 0 -130px;
    bottom: -5px;
    right: -3px;
}
