<div class="w100 pr" id="ft">
    <div class="bottom_right_box bottom_Contact_us pa">
        <a href="#about">
            <div class="img">
                <img src="pc/image/pc/bottom_Contact_us.png">
            </div>
            <p>联系我们</p>
        </a>
    </div>

    <div class="bottom_right_box bottom_return pa">
        <a href="javascript:scroll(0,0)">
            <img src="pc/image/pc/bottom_return.png">
            <p>返回顶部</p>
        </a>
    </div>

    <div class="bottom">
        <div class="box_1112">
            <div class="addres">
  <span>
          邮编：100070<br>
          北京市丰台区丰台科技园诺德中心3号楼2108<br>
  </span>
                <em>
                    Tel: 010-83293521<br>400-661-1691
                </em>
            </div>

            <div class="Qrcode" style="padding-right:220px;">
                <img src="pc/image/pc/jiajialink.jpg"><br>关注家家智能
            </div>

            <div class="Qrcode" style="padding-right:110px;">
                <img src="pc/image/pc/yimao.jpg"><br>关注益猫
            </div>


        </div>
    </div>

    <div class="copyright">
        <div class="box_1112">
            <div class="box_1112">
                <em>Copyright © 2017 JiaJiaLink Networks Inc. All rights Reserved.</em>
                <em>  家家智能(北京)科技有限公司 版权所有 <a href="http://www.miitbeian.gov.cn/" style="text-decoration:none;" target="_blank" class="beian"><span style="color:#666666">京ICP备17021734号-1</span></a></em>
            </div>
        </div>
    </div>

</div>
<!--家家智能统计代码-->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?498657487b1f28e9388ef6a419c31d81";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
