<div class="w100 pr">
    <div class="box_1112 top">
        <a href="/" class="logo" name="top">
            <img src="pc/image/pc/logo.png">
        </a>
        <span class="stock">
        <!--<span>
            智能生活<br/>
            <span>家家互联</span>
        </span>-->
    </span>
        <!--
         <a href="#tm-offcanvas" class="toggle" data-uk-offcanvas="" style="float:left;margin-left:20px;"><img src="static/goyoo/images/toggle.png"></a> -->
        <ul id="nav" class="nav clearfix">
            <li class="nLi">
                <h3><a href="/" target="_self">首页</a></h3>
            </li>
            <li class="nLi">
                <h3><a href="product" target="_self">产品</a></h3>

            </li>
            <li class="nLi">
                <!--<h3><a href="join" target="_self">加盟</a></h3>-->

            </li>
            <li class="nLi">
                <h3><a href="dynamic" target="_self">动态</a></h3>
            </li>
            <li class="nLi">
                <h3><a href="aboutUs" target="_self">关于我们</a></h3>
            </li>
            <li class="nLi">
                <h3><a href="joinUs" target="_self">加入我们</a></h3>
            </li>
        </ul>

        <script id="jsID" type="text/javascript">
//            jQuery("#nav").slide({
//                type:"menu",// 效果类型，针对菜单/导航而引入的参数（默认slide）
//                titCell:".nLi", //鼠标触发对象
//                targetCell:".sub", //titCell里面包含的要显示/消失的对象
//                effect:"slideDown", //targetCell下拉效果
//                delayTime:300 , //效果时间
//                triggerTime:0, //鼠标延迟触发时间（默认150）
//                returnDefault:true //鼠标移走后返回默认状态，例如默认频道是“预告片”，鼠标移走后会返回“预告片”（默认false）
//            });
        </script>
    </div>
    <div class="se_FFF"></div>
</div>